{
 @ViewData["Title"] = "Create New Course";
}
<h2>Create a new course</h2>

<form method="post">
    <div>Name: </div>
    <input name="Name" class="form-control"/>
    <br/>
    <input type="submit" value="Create" class="btn-success"/>
</form>


