@model OpenCoursesAdmin.Data.Models.QuizModels.ConfigurationModels.Configuration

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Configuration</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="QuizId" class="control-label"></label>
                <select asp-for="QuizId" class="form-control" asp-items="ViewBag.QuizId"></select>
                <span asp-validation-for="QuizId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DurationInSeconds" class="control-label"></label>
                <input asp-for="DurationInSeconds" class="form-control" />
                <span asp-validation-for="DurationInSeconds" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PollQuestionsCount" class="control-label"></label>
                <input asp-for="PollQuestionsCount" class="form-control" />
                <span asp-validation-for="PollQuestionsCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PossibleAnswersCount" class="control-label"></label>
                <input asp-for="PossibleAnswersCount" class="form-control" />
                <span asp-validation-for="PossibleAnswersCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuestionsCount" class="control-label"></label>
                <input asp-for="QuestionsCount" class="form-control" />
                <span asp-validation-for="QuestionsCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="KeepQuestionsOrder" /> @Html.DisplayNameFor(model => model.KeepQuestionsOrder)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="AllowMultipleParticipations" /> @Html.DisplayNameFor(model => model.AllowMultipleParticipations)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="TestId" class="control-label"></label>
                <input asp-for="TestId" class="form-control" />
                <span asp-validation-for="TestId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

